
/* Add a pink color scheme */
body {
    background-color: rgb(253, 224, 248); /* Light Pink */
    Color: #cc31b2;
}
section h1, section h2, section h3, section h4, section h5, section h6 {
    Color: #cc31b2; /* Black */
}

/* Customize the header styles */
header {
    background-color: #f7077f; /* Hot Pink */
    color: #fff; /* White */
    text-align: center;
}

/* Style the links in the navigation */
nav ul li a {
    color: #ff3198; /* Hot Pink */
}

/* Customize the section backgrounds and fonts */
section {
    background-color: #8b0066; /* White */
    /* font-family: "Comic Sans MS", cursive; */
}

/* Style the footer */
footer {
    background-color: #ff3198;/* Hot Pink */
    color: #fff; /* White */
    text-align: center;
}

/* Add some rounded corners to elements */
header, nav, section, footer {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

/* Customize the link styles */
a {
    color: #ff69b4; /* Hot Pink */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* *** */


/* style.css */
.navigation {
    display: flex;
  }
  
  .navigation a {
    margin-right: 10px; /* Adjust the margin as needed */
  }